<!DOCTYPE html>
<html>
<head>
  <title>DupSendBlocker</title>
  <%= stylesheet_link_tag    "dup_send_blocker/application", media: "all" %>
  <%= javascript_include_tag "dup_send_blocker/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
